{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "sourceMaps": true,
  "plugins": [
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-json-strings",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-transform-export-namespace-from",
    "@babel/plugin-transform-numeric-separator",
    "@babel/plugin-proposal-throw-expressions"
  ]
}
